:root {

    --registration-Div-Top: 1;
    --registration-Div-Height: 9;

    --messages-Div-Top: calc(var(--registration-Div-Height) + var(--registration-Div-Top) + 1);
    --messages-Div-Height: 30;
    --scoreboard-Div-Top: var(--messages-Div-Top);

    --story-Div-Top: calc(var(--messages-Div-Top) + var(--messages-Div-Height) + 1);
    --story-Div-Height: 47;

    --admin-Div-Top: calc(var(--story-Div-Top) + var(--story-Div-Height) + 1);
    --admin-Div-Height : calc(99 - var(--admin-Div-Top));

    --remagine-label-height: calc(2.7vh);
    --standard-text-height: calc(2.4vh);
}
/*
check https://css-tricks.com/a-complete-guide-to-calc-in-css/
 */

body {
 /*   background-color: #DDDFFF;*/
}

.remagineLabel {
    color: darkviolet;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: oblique;
    font-weight: 900;
    font-size: calc(var(--remagine-label-height) + 1px);
}

.registrationInput {
    font-size: calc(var(--standard-text-height) + 1px);
    width: 15%;
}

.standardInput {
    font-size: calc(var(--standard-text-height) + 1px);
    width: 45%;
}

.joinButton {
    font-size: calc(var(--standard-text-height) + 1px);
}

.mainGameDiv {
    width: 98vw;
    height: 98vh;
    background-color: greenyellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.registrationDiv {
    width: 96%;
    height: calc(var(--registration-Div-Height) * 1%);
    position: absolute;
    left: 2%;
    top: calc(var(--registration-Div-Top) * 1%);
    background-color: beige;
}

.registrationTable {
    width: 100%;
    height: 100%;
    position: absolute;
}

.messagesDiv {
    width: 47%;
    height: 30%;
    background-color: brown;
    position: relative;
    top: calc(var(--messages-Div-Top) * 1%);
    left: 2%;
}

.scoreboardDiv {
    width: 47%;
    height: 30%;
    background-color: coral;
    position: absolute;
    top: calc(var(--scoreboard-Div-Top) * 1%);
    left: 51%;
}

.scoreboardTable {
    width: 96%;
    height: 96%;
    position: absolute;
    left: 2%;
    top: 2%;
    border-spacing: 5px;
    background-color: antiquewhite;
}

.storyDiv {
    width: 96%;
    height: calc(var(--story-Div-Height) * 1%);
    position: absolute;
    left: 2%;
    top: calc(var(--story-Div-Top) * 1%);
    background-color: beige;
}

.storyTable {
    width: 96%;
    height: 96%;
    position: absolute;
    left: 2%;
    top: 2%;
    background-color: blanchedalmond;
}

td, defaultTd {
    font-family: Tahoma, sans-serif;
    font-size: calc(var(--standard-text-height) + 1px);
    text-align: center;
}

.tdAlignLeft {
    font-family: Tahoma, sans-serif;
    font-size: calc(var(--standard-text-height) + 1px);
    text-align: left;
}

.gameMessagesTextArea {
    width: 98%;
    height: 98%;
    position: absolute;
    top: 1%;
    left: 1%;
    font-family: Tahoma, sans-serif;
    font-size: calc(var(--standard-text-height) + 1px);
    background-position: bottom right;
    background-repeat: no-repeat;
}

.adminDiv {
    width: 96%;
    height: calc(var(--admin-Div-Height) * 1%);
    position: absolute;
    left: 2%;
    top: calc(var(--admin-Div-Top) * 1%);
    background-color: deepskyblue;
}

.adminTable {
    width: 99%;
    height: 94%;
    position: absolute;
    left: 0.5%;
    top: 3%;
    background-color: cadetblue;
}