body {
 /*   background-color: #DDDFFF;*/
}

.textAreaDiv {
    width: 750px;
    height: 750px;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.game-log {
    width: 500px;
    height: 560px;
    position: relative;
    top: 10%;
    left: 10%;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    background-position: bottom right;
    background-repeat: no-repeat;
}