:root {

    --registration-Div-Top: 1;
    --registration-Div-Height: 9;

    --messages-Div-Top: calc(var(--registration-Div-Height) + var(--registration-Div-Top) + 1);
    --messages-Div-Height: 30;
    --scoreboard-Div-Top: var(--messages-Div-Top);

    --story-Div-Top: calc(var(--messages-Div-Top) + var(--messages-Div-Height) + 1);
    --story-Div-Height: 47;

    --admin-Div-Top: calc(var(--story-Div-Top) + var(--story-Div-Height) + 1);
    --admin-Div-Height : calc(99 - var(--admin-Div-Top));

    --remagine-label-size: calc(1.4vw);
    --standard-text-size: calc(1.24vw);
}
/*
check https://css-tricks.com/a-complete-guide-to-calc-in-css/
 */

body {
   background-color: black;
}

.remagineLabel {
    color: #eb7b0c;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: oblique;
    font-weight: 900;
    font-size: calc(var(--remagine-label-size) + 1px);
}

input {
    background: none;
    border-color: #eb7b0c;
    color: #eb7b0c;
}

label {
    font-size: calc(var(--standard-text-size) + 1px);
    font-family: "Courier New", monospace;
    font-weight: 700;
}

.registrationInput {
    font-size: calc(var(--standard-text-size) + 1px);
    font-family: "Courier New", monospace;
    font-weight: 700;
    width: 15%;
}

.standardInput {
    font-size: calc(var(--standard-text-size) + 1px);
    font-family: "Courier New", monospace;
    font-weight: 700;
    width: 96%;
}

.joinButton {
    font-family: "Courier New", monospace;
    font-weight: 700;
    font-size: calc(var(--standard-text-size) + 1px);
    color: #eb7b0c;
    border-color: #eb7b0c;
    background: none;
}

.joinButton:disabled,
.joinButton[disabled]{
    color: grey;
}


.mainGameDiv {
    width: 98vw;
    height: 98vh;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-image: url("nightsky.jpg");
    background-size: cover;
}

.registrationDiv {
    width: 96%;
    height: calc(var(--registration-Div-Height) * 1%);
    position: absolute;
    left: 2%;
    top: calc(var(--registration-Div-Top) * 1%);
}

.registrationTable {
    width: 100%;
    height: 100%;
    position: absolute;
}

.messagesDiv {
    width: 63%;
    height: 30%;
    position: relative;
    top: calc(var(--messages-Div-Top) * 1%);
    left: 2%;
}

.scoreboardDiv {
    width: 31%;
    height: 30%;
    position: absolute;
    top: calc(var(--scoreboard-Div-Top) * 1%);
    left: 67%;
}

.scoreboardLabel {
    width: 96%;
    position: absolute;
    height: 10%;
    text-align: center;
    display: block;
    left: 2%;
    color: #eb7b0c;
}
.scoreboardTable {
    width: 96%;
    height: 86%;
    position: absolute;
    left: 2%;
    top: 12%;
    border-spacing: 5px;
    table-layout: fixed;
}
.scoreboardTd {
    width: 50%;
}
.scoreboardTr {
    /*height: 10%;*/
    max-height: 10%;
}

.storyDiv {
    width: 96%;
    height: calc(var(--story-Div-Height) * 1%);
    position: absolute;
    left: 2%;
    top: calc(var(--story-Div-Top) * 1%);
}

.storyTable {
    width: 96%;
    /*height: 96%;*/

    max-height: 96%;
    position: absolute;
    left: 2%;
    top: 2%;
    table-layout: fixed;
}

.storyTr {
    height: 10%;
}

td, defaultTd {
    font-family: "Courier New", monospace;
    font-size: calc(var(--standard-text-size) + 1px);
    text-align: center;
    font-weight: 700;
    color: #eb7b0c;
    /*border : solid 1px;*/
}


.gameMessagesTextArea {
    width: 98%;
    height: 98%;
    position: absolute;
    top: 1%;
    left: 1%;
    font-family: "Courier New", monospace;
    font-weight: 700;
    font-size: calc(var(--standard-text-size) + 1px);
    background: transparent;
    border-style: none;
    border-color: Transparent;
    color: #eb7b0c;
    overflow: hidden;
    resize: none;
}

.gameMessagesTextArea:hover {
    overflow: auto;
}

.adminDiv {
    width: 96%;
    height: calc(var(--admin-Div-Height) * 1%);
    position: absolute;
    left: 2%;
    top: calc(var(--admin-Div-Top) * 1%);
}

.adminTable {
    width: 99%;
    height: 94%;
    position: absolute;
    left: 0.5%;
    top: 3%;
}